{% extends 'base.html.twig' %}

{% block title %}Start Page{% endblock %}

{% block body %}
<div class="auth__container">
    <h1>OGŁOSZENIA CEBULAKÓW</h1>
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_register') }}"><button type="button" class="btn btn-outline-success main__button">Register</button></a>
    <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-success main__button">Login</button></a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_logout') }}">logout</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}"><button type="button" class="btn btn-outline-success main__button">Admin panel</button></a>
        </li>
    {% endif %}
</div>
{% endblock %}
