$base-color: #40bf50;
$secondary-color: #ebdca8;
$shadow-color: #aaaaaa;
//lightgray, white and black can be used as well;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
