{% extends 'base.html.twig' %}

{% block title %}Hello EditAnnouncementController!{% endblock %}

{% block body %}
<a href="{{path('app_my_announcements')}}"><i class="fa-solid navbar__menu-icons fa-arrow-left"></i></a>
    {{ form(form) }}
{% endblock %}
