{% extends 'base.html.twig' %}

{% block title %}Dodaj ogłoszenie{% endblock %}

{% block body %}
<a href="{{path('app_default')}}"><i class="fa-solid navbar__menu-icons fa-arrow-left"></i></a>

   {{ form(form) }}
{% endblock %}
